*{
    margin: 0;
    padding: 0;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(14, 14, 14, 0.7),rgba(22, 23, 28, 0.7)),url(camera\ png.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 100px;
}

.nav-link{
    flex: 1;
    text-align: right;
}

.nav-link ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-link ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    font-family: 'san';
    font-weight: bold;
}

.nav-link ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
}

.nav-link ul li:hover::after{
    width: 100%;
    transition: 1s;
}

.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.text-box h1{
    font-size: 62px;
}

.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}

.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}

@media (max-width: 700px){
    .text-box h1{
    font-size: 20px;
    }

    .nav-link ul li{
        display: block;
    }

    .nav-link{
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }

    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }

    .nav-link ul{
        padding: 30px;
    }
}

/*---------courses---------*/
.courses{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

h1{
    font-size: 56px;
    font-weight: 600;
}

p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-around;
}

.course-col{
    flex-basis: 24%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    cursor: pointer;
}

he{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.course-col:hover{
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    transition: 0.5s;
}

@media (max-width: 700px){
    .row{
        flex-direction: column;
    }
    .course-col{
        margin-bottom: 20px;
    }
}

.row .course-col img{
    width: 100%;
    border-radius: 10px;
}

/*-----------pictures-----------*/
.pictures{
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.layer h3{
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 260px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}

/*-----------facilities-----------*/
.facilities{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.facilities-col{
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 25;
    text-align: center;
}

.facilities-col img{
    width: 100%;
    border-radius: 1px;
}

.facilities-col h3{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: center;
}

.facilities-col p{
    padding: 0;
}

.testimonials{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.testimonials-col{
    flex-basis: 44%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: center;
    padding: 25px;
    display: flex;
    cursor: pointer;
}

.testimonials-col img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 30px;
}

.course-col p{
    padding: 0;
}

.course-col h3{
    margin-top: 15px;
    text-align: center;
}

.course-col i{
    color: #f44336;
    margin: 2px;
}

@media (max-width: 700px){
    .testimonials-col img{
    margin-left: 5px;
    margin-right: 30px;
    }
}

/*---------------call to action-----------*/
.cta{
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(Duop.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}

.cta h1{
    color: #fff;
    margin-bottom: 40px;
    padding: 0;
}

@media(max-width: 700px){
    .cta h1{
        font-size: 24px;
    }
}

/*-------------------Footer-------------*/
.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}

.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}

.icons .fa{
    color: #f44336;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}

.fa-heart-o{
    color: #f44336;
}

/*----------------- ABOUT US PAGE Sun-header--------------------*/
.sub-header{
    height: 70vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,13,0.7),rgba(4,9,13,0.7)), url(OIP\ \(3\).webp);
    background-position: center;
    background-size: cover;
    text-align: center;
    position: relative;
}

.sub-header h1{
    margin-top: 100px;
}

/*--------------------------About us section-------------*/

.about-us{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}

.about-col{
    flex-basis: 48%;
    padding: 30px 10px;
}

.about-col img{
    width: 100%;
}

.about-col h1{
    padding-top: 20%;
}

.about-col p{
    padding: 15px 0 25px;
}

.red-btn{
    border: 1px solid #f44336;
    background: transparent;
    color: #f44336;
}

.red-btn:hover{
    background: #f44336;
    color: #fff;
    transition: 1s;
}
/*---------------------Blog page Content-----------------------*/
.blog-content{
    width: 80%;
    margin: auto;
    padding: 60px 0;
}

.blog-left{
    flex-basis: 48%;
}

.blog-left img{
    width: 100%;
    margin-left: 50px;
    margin-right: 50px;
}

.blog-left h2{
    color: #222;
    font-weight: 600;
    margin: 30px 0;
    margin-left: 50px;
}

.blog-left p{
    color: #999;
    padding: 0;
    margin-left: 50px;
}

.blog-right{
    flex-basis: 32%;
}

.blog-right h3{
    background-color: #f44336;
    color: #fff;
    padding: 7px 0;
    text-align: center;
    font-size: 16px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.blog-right div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #555;
    padding-bottom: 8px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.comment-box{
    border: 1px solid #ccc;
    margin: 50px 0;
    padding: 20px;
}

.comment-box h3{
    text-align: left;
}

.comment-form input, .comment-form textarea{
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    background: #f0f0f0;
}

.comment-form button{
    margin: 10px 0;
}

@media(max-width: 700px){
    .row .blog-right div{
        font-size: 24px;
    }
}

/*---------------------Contact page content-----------------------*/

.location {
    width: 80%;
    margin: auto;
    padding: 80px 0;
}

.location iframe{
    width: 100%;
}

.contact us{
    width: 80%;
    margin: auto;
}

.contact-col{
    flex-basis: 48%;
    padding: 30px;
}

.contact-col div{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.contact-col div .fa{
    font-size: 28px;
    color: #f44336;
    margin: 10px;
    margin-right: 30px;
}

.contact-col div p{
    padding: 0;
}

.contact-col div h5{
    font-size: 20px;
    margin-bottom: 5px;
    color: #555;
    font-weight: 400;
}

.contact-col input, .contact-col textarea{
    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    outline: none;
    box-sizing: border-box;

}